.navbar {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 0px 20px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.navbar button{
    color: #25655F;
    font-size: 24px;
}

.navbar .logo {
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.navbar .logo span {
    color: #ff0000;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .menu li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #25655F;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 20px 10px;
    line-height: normal;
}

.username {
    padding:.1rem 1rem;
    border:1px solid #25655F;
    border-radius: 10px;
}