html, body {
  overscroll-behavior: none;
}
.wrapper {
  margin: 40px 0;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.footer {
  background-color: #54C5BA;
  padding: 50px 0;
  color: rgba(37, 101, 95, 0.90);
}

.footer p {
  
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer-social{
  font-size: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contact {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}