.product-bg {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background: rgb(84, 197, 186);
    background: linear-gradient(90deg, rgba(84, 197, 186, 0.3820378493194153) 0%, rgba(250, 250, 255, 0) 36%);
}

.product {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.product-img {
    display: flex;
    align-items: center;
    height: 400px;
    padding-right: 20px;
    border-right: 1px solid #54C5BA;
}

.product-info {
    color: #25655F;
    width: 25%;
}

.product-info h3 {
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 40px;
}

.product-info h2 {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 40px;
}

.product-info p {
    font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}